{% extends "layout.html" %}
{% block head %}
  {{ super() }}
{% endblock head %}
{% block content %}

<div class="main">
  <h2 style="text-align:center;"><b>List of Vehicles</b></h2>
  <div style="padding:10px 0px 10px 0px; text-align:center;">
    <a href="{{url_for('dashboard', vehicleID=vehicleIDs[0])}}"><button type="button" class="btn btn-primary">Random New Vehicle<br>(Incoherent Data)</button></a>
  </div>

  <div>
    <!-- {% for car in vehicleIDs[1:] %}
      {% if 'simulation' in car or 'Simulation' in car%}
        <div style="padding:10px 0px 10px 0px; text-align:center;">
          <a href="{{url_for('dashboard', vehicleID=car)}}"><button type="button" class="btn btn-primary">Simulated Car</button></a>
        </div>
      {% endif %}
    {% endfor %} -->
    <div style="padding:10px 0px 10px 0px; text-align:center;">
      <a href="{{url_for('dashboard', vehicleID='TeslaSimulation')}}"><button type="button" class="btn btn-primary">Tesla Simulation</button></a>
    </div>
    <div style="padding:10px 0px 10px 0px; text-align:center;">
      <a href="{{url_for('dashboard', vehicleID='BMWSimulation')}}"><button type="button" class="btn btn-primary">BMW Simulation</button></a>
    </div>
    <div style="padding:10px 0px 10px 0px; text-align:center;">
      <a href="{{url_for('dashboard', vehicleID='AudiSimulation')}}"><button type="button" class="btn btn-primary">Audi Simulation</button></a>
    </div>
  </div>
</div>


{% endblock content %}